In [1]:
import pandas as pd

In [3]:
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [12]:
mapa = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}

dados = dados.rename(columns = mapa)

In [14]:
x= dados[["principal","como_funciona","contato"]]
y= dados["comprou"]
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [15]:
dados.shape

(99, 4)

In [20]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [27]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

taxa_de_acerto = accuracy_score(teste_y, previsoes)
print("A acuracia foi %.2f%%" % (taxa_de_acerto * 100))

A acuracia foi 95.83%

In [29]:
from sklearn.model_selection import train_test_split

train_test_split(x, y, test_size =0.25)

[    principal  como_funciona  contato
 9           1              0        1
 72          0              0        1
 26          1              1        1
 38          1              1        0
 13          0              0        1
 ..        ...            ...      ...
 57          1              1        0
 55          1              1        0
 92          1              1        0
 74          0              0        1
 15          0              0        1

 [74 rows x 3 columns],     principal  como_funciona  contato
 48          1              1        0
 62          0              0        1
 81          0              0        1
 7           1              0        1
 73          0              0        1
 30          0              1        0
 25          1              1        1
 8           1              1        0
 45          0              0        1
 21          0              1        0
 68          1              0        1
 23          0              1        0
 14          0              0        1
 89          1              0        1
 87          0              0        1
 58          1              0        1
 6           1              1        0
 59          0              0        1
 10          1              1        0
 91          1              1        0
 42          0              1        0
 47          1              0        1
 12          0              0        1
 84          1              0        1
 93          0              0        1, 9     1
 72    0
 26    1
 38    0
 13    0
      ..
 57    0
 55    0
 92    0
 74    0
 15    0
 Name: comprou, Length: 74, dtype: int64, 48    0
 62    0
 81    0
 7     1
 73    0
 30    0
 25    1
 8     0
 45    0
 21    0
 68    1
 23    0
 14    0
 89    1
 87    0
 58    1
 6     0
 59    0
 10    1
 91    0
 42    0
 47    1
 12    0
 84    1
 93    0
 Name: comprou, dtype: int64]

In [30]:
from sklearn.model_selection import train_test_split

treino_x, teste_x, treino_y, teste_y =train_test_split(x, y, test_size =0.25)
print(treino_x.shape)
print(teste_x.shape)

(74, 3)
(25, 3)

## Usando a biblioteca para separar treino e teste

In [39]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state= SEED, test_size = 0.25)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

In [40]:
treino_y

21    0
1     0
96    0
69    0
19    0
     ..
98    0
28    0
95    1
15    0
90    1
Name: comprou, Length: 74, dtype: int64

In [41]:
treino_y.value_counts()

0    47
1    27
Name: comprou, dtype: int64

In [42]:
teste_y.value_counts()

0    19
1     6
Name: comprou, dtype: int64

In [44]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state= SEED, test_size = 0.25, stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

In [45]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [46]:
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64